@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,100&family=Spectral:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
/*NAV BAR*/
nav {
    color: #f2f2f2;
    background: rgb(53,73,132);
    background: linear-gradient(151deg, rgba(53,73,132,1) 1%, rgba(105,135,168,1) 96%);
    padding: 15px 10px 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    nav a {
        text-decoration: none;
        color: #f2f2f2;
    }

.nav-icons {
    display: flex;
}

    .nav-icons a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 14px 0 14px;
        cursor: pointer;
    }

        .nav-icons a i {
            font-size: 1.6em;
        }
/*FOOTER*/
footer {
    color: #f2f2f2;
    background: rgb(53,73,132);
    background: linear-gradient(151deg, rgba(53,73,132,1) 1%, rgba(105,135,168,1) 96%);
}

fotter p {
    margin: 0
}

#div-footer {
    margin: 15px 0 15px 0;
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: space-around;
}

.div-span {
    display: flex;
    flex-flow: column;
    margin: 0 0 0 5vh;
    cursor: pointer;
}

    .div-span span {
        margin: 4px 0 4px 0;
    }

.footer-icons {
    font-size: xx-large;
    margin: 5px 0 0 6vh;
}

    .footer-icons i {
        margin: 4px;
    }

.copyright {
    font-size: 1em;
    margin: 0 0 0 10vh;
}
/*logo*/
.logo {
    height: 120px;
}

/*Carrello*/

.carrello {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.container-carrello {
    width: 150vh;
    padding-top: 20px;
}

.carrello-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFAA78;
}

.line {
    border-top: 1px solid #000;
    margin: 10px 0;
}

/* Stile per la tabella del carrello */
.item-photo img {
    width: 20vh;
    height: 15vh;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.item-name {
    display: inline-block;
    vertical-align: middle;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .cart-table th {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #000000;
    }

    .cart-table td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #000000;
    }

    .cart-table .bi-trash {
        color: #ff0000;
        cursor: pointer;
    }

        .cart-table .bi-trash:hover {
            color: #cc0000;
        }

/* Riepilogo-container */
.riepilogo-container {
    max-width: 70vh;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

    .riepilogo-container h2 {
        color: #333;
    }

    .riepilogo-container p {
        margin: 0;
        font-weight: bold;
    }

    .riepilogo-container hr {
        border: 1px solid #ccc;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .riepilogo-container div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .riepilogo-container button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-square {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
}

.quantity-button {
    width: 30px;
    height: 30px;
    background-color: #8AC87C;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

    .quantity-button:hover {
        background-color: #354984;
    }

/*PAGINA ACCEDI*/
#contenitore_login {
    margin: 150px 0 0 0;
    display: flex;
    justify-content: space-around;
}

#divisorio {
    border-left: black solid 2px;
    height: 500px;
}

#accedi p {
    margin: 3px 3px 3px 3px
}

.input_area {
    margin: 10px;
    border: 2px solid #cccccc;
    border-radius: 20px;
    padding: 8px 80px 8px 14px;
}

/*button*/
.myButton {
    margin: 20px 0 0 0;
    box-shadow: 3px 3px 2px 0px rgba(154, 154, 154, 1.2);
    background: rgb(138,200,124);
    background: linear-gradient(150deg, rgba(138,200,124,1) 53%, rgba(187,215,181,1) 92%);
    border-radius: 6px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 46px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}

    .myButton:hover {
        background: rgb(138,200,124);
        background: linear-gradient(150deg, rgba(187,215,181,1)23%, rgba(138,200,124,1) 77% );
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

/*Registrati*/
#contenitore_registrati {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
}

.div_registrazione {
    display: flex;
}

    .div_registrazione p {
        margin: 3px 3px 3px 3px;
    }

    .div_registrazione div {
        margin: 5px 20px;
    }

#contenitore_registrati h1, #contenitore_registrati h2, #contenitore_registrati h3 {
    color: #20336a;
}

/*Dettagli*/

.main_img {
    height: 450px;
    width: 550px;
}

#contenitore_dettagli_top {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 40px 0;
}

.btn_qta {
    margin: 0 6px;
    text-align: center;
    color: #f2f2f2;
    background: rgb(138,200,124);
    border: none;
    border-radius: 100%;
    box-shadow: 3px 3px 2px 0px rgba(154, 154, 154, 1.2);
    width: 30px;
    height: 30px;
}

    .btn_qta:hover {
        background: rgb(138,200,124);
        background: linear-gradient(150deg, rgba(187,215,181,1)23%, rgba(138,200,124,1) 77% );
    }

.div_qta {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
}

#cotenitore_dettagli_bottom {
    margin: 80px 0 40px 80px;
}
/*/Style Home*/

.carousel {
    width: 90rem;
}

.card-img-top {
    width: 100%;
    height: 15rem;
}

.card-title {
    margin: 17px 0px;
}

.tittleP {
    margin: 17px 0px;
    font-size: 16px;
    width: 100%;
    height: 9rem;
}

a {
    text-decoration: none;
    color: black;
}

/*admin page*/

#contenitore_admin {
    margin: 120px 0 0 0;
    text-align: center
}

    #contenitore_admin p {
        margin: 3px 3px;
    }

#contenitore_input_prodotti {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}

#Immagine_Input {
    overflow: hidden;
}

.div_input_admin {
    text-align: start;
    margin: 40px 0 0 30px
}

#dateStandard {
    margin: 10px;
    border: 2px solid #cccccc;
    border-radius: 4px;
    padding: 8px 80px 8px 14px;
}
/*checkbox adminpage*/
.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}

    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #8AC87C;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

@keyframes s-ripple {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(1);
    }

    60% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}

/*WISHLIST*/

#contenitore_wishlist {
    margin: 100px 40px 80px 40px;
}

.img_wishlist {
    width: 60px;
    height: 60px;
}

/*grid*/

.mydatagrid {
    width: 100%;
    box-shadow: 3px 3px 3px 3px rgba(154, 154, 154, 1.2);
    border-radius: 15px;
    border: none;
    min-width: 80%;
}

.header {
    background-color: rgb(53,73,132);
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #f2f2f2;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: center;
    border: none 0px transparent;
}

    .rows:hover {
        background-color: #95a9e1;
        font-family: Arial;
        color: #fff;
        text-align: center;
    }

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}
/* Style Category */

.catetext {
    width: 100%;
    text-shadow: -2px 2px 4px #000;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 100;
    color: yellow;
}

.card-img {
    width: 100%;
    height: 5rem;
}

.DarkMode {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    transition: all ease-in-out 200ms;
}

a {
    position: relative
}

    a:hover .DarkMode {
        opacity: 0;
    }